@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: aqua;
    border-bottom: 10px solid blue;
 
}

section {
    position: relative;
    top: 150px;
}

#list-items {
    display: inline;
    right: 0px;
}

