@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: aqua;

    
}

#list-items {
    display: inline;
    
}

section {
    position: relative;
    top: 120px;
}